{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Example",
    "description": "A sample API to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.contactship.ai"
    }
  ],
  "paths": {
    "/v1/calls/single-phone-call": {
      "post": {
        "description": "Make an AI phone call with your Agent ID",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "x-api-key"
          }
        ],
        "requestBody": {
          "description": "Make an AI phone call with your Agent ID",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCall"
              },
              "example": {
                "from_number": "+12124567890",
                "to_number": "+12124567890",
                "full_name": "Jhon Doe",
                "agent_id": "string",
                "email": "example@mail.es",
                "country": "Mexico",
                "additional_data": {},
                "webhook_url": "https://your.webhook.domain.es"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AI phone call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/create-web-call": {
      "post": {
        "description": "Create a web call with your Agent ID",
        "requestBody": {
          "description": "Create a web call with your Agent ID",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCall"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Web call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "description": "Returns all agents from the system that the user has access to",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "Agents response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewCall": {
        "type": "object",
        "required": ["agent_id", "from_number", "to_number", "full_name", "country"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The ID of the agent making the call"
          },
          "from_number": {
            "type": "string",
            "description": "The number from which the call is made"
          },
          "to_number": {
            "type": "string",
            "description": "The number to which the call is made"
          },
          "full_name": {
            "type": "string",
            "description": "The full name of the person being called"
          },
          "email": {
            "type": "string",
            "description": "The email of the person being called"
          },
          "country": {
            "type": "string",
            "description": "The country of the person being called"
          },
          "additional_data": {
            "type": "object",
            "description": "Additional data for the call"
          },
          "webhook_url": {
            "type": "string",
            "description": "The webhook URL for call status updates"
          }
        }
      },
      "CallResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "The status code of the response"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The ID of the call"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The creation time of the call"
              },
              "provider_agent_id": {
                "type": "string",
                "description": "The provider agent ID"
              },
              "additional_data": {
                "type": "object",
                "nullable": true,
                "description": "Additional data for the call"
              },
              "webhook_url": {
                "type": "string",
                "nullable": true,
                "description": "The webhook URL for call status updates"
              },
              "call_id": {
                "type": "string",
                "description": "The ID of the call"
              },
              "contact_id": {
                "type": "string",
                "description": "The ID of the contact"
              }
            }
          }
        }
      },
      "Agent": {
        "type": "object",
        "required": ["id", "name", "created_at", "language"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the agent"
          },
          "name": {
            "type": "string",
            "description": "The name of the agent"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The creation time of the agent"
          },
          "language": {
            "type": "string",
            "description": "The language of the agent"
          },
          "webhook_url": {
            "type": "string",
            "nullable": true,
            "description": "The webhook URL for call status updates"
          },
          "conversation_purpose": {
            "type": "string",
            "nullable": true,
            "description": "The purpose of the conversation"
          },
          "prompt": {
            "type": "string",
            "nullable": true,
            "description": "The prompt for the agent"
          }
        }
      },
      "AgentsResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "The status code of the response"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}